<div class="container">
    <div class="container-form">
        <button class="container-form-item container-btn " (click)=" createStopWatch() ">Add
            Timer</button>
    </div>
    <div *ngFor="let watch of stopWatchList " class="card ">
        <div class="card-btn-remove-container ">
            <button class="card-btn-remove " (click)="deleteStopWatch(watch.id) ">X</button>
        </div>
        <input #watchName type=" text " class="card-input card-title" TitleCaseInput (keyup.enter)="blurOnEnter($event)" (blur)="updateStopWatchName(watch.id, watchName.value)" placeholder=" {{watch.stopWatchName}} ">
        <p class="time-value ">{{watch.stopWatchValue | padTimer}}</p>
        <button class="card-btn card-primary-btn " (click)="toggleStopWatch(watch.id) ">{{watch.toggleLabel}}</button>
        <button class="card-btn card-secondary-btn " [class.card-btn-disabled]="watch.isActive " [disabled]="watch.isActive " (click)="resetStopWatch(watch.id) ">Reset</button>
    </div>
</div>