.container-form-item {
    border: 2px solid var(--task-timer-tertiary-color);
}

.container-btn {
    color: var(--task-timer-tertiary-color);
    background-color: var(--task-timer-primary-color);
}

.container-input {
    background-color: var(--task-timer-tertiary-color);
}

.card {
    border: 2px solid var(--task-timer-tertiary-color);
}

.card-btn {
    background-color: var(--task-timer-primary-color);
    border: 2px solid var(--task-timer-tertiary-color);
}

.card-btn-remove {
    background-color: var(--task-timer-primary-color);
    color: var(--task-timer-tertiary-color);
}

.card-primary-btn {
    background-color: var(--task-timer-primary-color);
    color: var(--task-timer-tertiary-color);
}

.card-primary-btn:hover {
    background-color: var(--task-timer-tertiary-color);
    border-color: var(--task-timer-primary-color);
    color: var(--task-timer-primary-color);
}

.card-secondary-btn {
    background-color: var(--task-timer-secondary-color);
    color: var(--task-timer-tertiary-color);
}

.card-secondary-btn:hover {
    background-color: var(--task-timer-tertiary-color);
    border-color: var(--task-timer-primary-color);
    color: var(--task-timer-primary-color);
}

.card-btn-disabled,
.card-btn-disabled:hover {
    background-color: var(--task-timer-disabled-color);
    border-color: var(--task-timer-tertiary-color);
    color: var(--task-timer-tertiary-color);
}

.card-input {
    background-color: var(--task-timer-primary-color);
    border-color: var(--task-timer-primary-color);
    color: var(--task-timer-tertiary-color);
    border: 0px solid var(--task-timer-primary-color);
}

.card-input:focus {
    border-color: var(--task-timer-primary-color);
    background-color: var(--task-timer-tertiary-color);
    color: var(--task-timer-secondary-color)
}

.card-input::placeholder {
    color: var(--task-timer-tertiary-color);
}

.time-value {
    font-size: 60px;
    font-weight: bold;
}